.wrapper {
    width: 100%;
}

.itemBody {
    display: flex;
    margin-left: 0.775rem;
    text-align: left;
    font-size: 0.9rem;
}

.profileImg {
    margin-right: 0.5rem;
}

.deleteBtn {
    margin: 0 0.5rem;
}

.deleteBtn i {
    cursor: pointer;
}

.deleteBtn i:hover {
    color: var(--secondary);
}

.commentBody {
    flex: 1;
    word-break: break-all;
}

.commentItem {
    padding: 0.5rem 0;
    margin: 0 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}